DATABASE_URL="postgresql://postgres:u5wuXQ1tYb5bd8hU@db.flcowconkvxmzouccjrf.supabase.co:5432/postgres?schema=public"
NEXTAUTH_URL="https://yar-affiliates.com.vercel.app"
NEXTAUTH_SECRET="191a408fc408446572841199a87e2bb1037e9b015be1a6ada1ac28f24c80b57f"
# For Google (optional)
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""
